:root {
  /* Primary colors */
  --clr-green-400: hsl(172, 67%, 45%);

  /* Neutral colors */
  --clr-green-900: hsl(183, 100%, 15%);
  --clr-grey-500: hsl(186, 14%, 43%);
  --clr-grey-400: hsl(184, 14%, 56%);
  --clr-grey-200: hsl(185, 41%, 84%);
  --clr-grey-50: hsl(189, 47%, 97%);
  --clr-white: hsl(0, 100%, 100%);
  --clr-red-invalid: hsl(20, 100%, 45%);

  /* Typography */
  --fs-form-input: 1.75rem;

  /* Spacing */
  --space-sm: 1em;
  --space-lg: 2em;
  --space-xl: 4em;
}

/* CSS clear start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  block-size: 100%;
}

img {
  display: block;
  max-inline-size: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
/* CSS clear end */

/* Elements */
body {
  display: grid;
  grid-template-rows: auto 1fr;

  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 1.25rem;
  background-color: var(--clr-grey-200);
}

main,
output {
  border-radius: 1.25em;
}

main {
  display: grid;
  gap: var(--space-lg);

  margin: 0 auto;
  padding: var(--space-lg);
  max-inline-size: 40rem;
  background-color: var(--clr-white);

  @media (max-width: 40rem) {
    border-radius: 1.25em 1.25em 0 0;
  }
}

output {
  display: grid;
  gap: var(--space-lg);
  padding: var(--space-lg);
  color: var(--clr-grey-50);
  background-color: var(--clr-green-900);
}

fieldset {
  display: grid;
  gap: var(--space-sm);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);

  padding: 0;
  border: none;
}

label,
legend {
  display: block;
  margin-block-end: var(--space-sm);
  color: var(--clr-grey-500);
}

input,
button {
  padding-block: 0.275em;
  border: none;
  border-radius: 0.5rem;
  font-size: var(--fs-form-input);
}

input {
  border: 2px solid transparent;
  padding-inline-end: 0.35em;
  inline-size: 100%;
  text-align: end;
  color: var(--clr-green-900);
  background-color: var(--clr-grey-50);
}

input:focus {
  border: 2px solid var(--clr-green-400);
  outline: none;
}

button {
  background-color: var(--clr-green-900);
  color: var(--clr-white);
}

button:hover {
  background-color: var(--clr-grey-200);
  color: var(--clr-green-900);
  cursor: pointer;
}

/* Components */
.logo {
  padding: var(--space-xl);
  margin-inline: auto;
}

.bill-form {
  display: grid;
  gap: var(--space-lg);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.error-msg {
  color: var(--clr-red-invalid);
}

.input-wrapper {
  display: flex;
  align-items: center;

  position: relative;
}

.input-icon {
  position: absolute;
  left: 1em;
  pointer-events: none;
}

input.input-invalid {
  border: 2px solid var(--clr-red-invalid);
}

.btn-active {
  background-color: var(--clr-green-400);
}

.fieldset__input {
  padding-block: 0;
}

.output__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output__label-small {
  font-size: 1rem;
  color: var(--clr-grey-400);
}

.output__amount {
  font-size: var(--fs-form-input);
  color: var(--clr-green-400);
}

.reset-btn {
  inline-size: 100%;
  color: var(--clr-green-900);
  text-transform: uppercase;
  background-color: var(--clr-green-400);
}

.reset-btn:hover {
  background-color: var(--clr-grey-200);
}

.hidden {
  display: none;
}
